h1 a {
    color: #FCA205;
    font-family: 'Lobster';
}

body {

}

.navtext {
    color: #CA3036;
}

.subpage-header {
  height: 50%;
  font-size: 0.5em;
}

.post-buttons {

}

.form-text {

}

.form-description {
    width: 40%;
    height: 20%;
}
