{% extends 'mewall/head.html' %}

{% block header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/static/img/rosemarie.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Rosemarie P. Simard</h1>
                        <hr class="small">
                        <span class="subheading">A brief Biography.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
<p>     Rosemarie P. Simard, 83, of Gardiner, NY, passed away peacefully on Thursday, September 15, 2016, at home with her family. Born on February 4, 1933, in Danbury, CT, she was the daughter of Horace and Mary Genovese, Rosemarie and her twin Marianna were delivered by their uncle, Dr. Frank Genovese. She married Albert F. Simard on July 11, 1954, at St Lawrence O'Toole Church, Brewster, NY. Her husband, Albert, passed on March 8, 2002.
Rosemarie was a 1950 graduate of Brewster High School. She was a 1954 graduate of SUNY@New Paltz. Rosemarie retired as an elementary school teacher from New Paltz Central School District, New Paltz, NY.
Rosemarie and her twin sister Marianna were a singing duo in college known as the "Genovese Twins" and where known for their rendition of Mr. Sandman. She spent two weeks camping at Forked Lake in the Adirondacks every year with her family. She loved to travel and visited every state except Hawaii. She enjoyed playing the board game "Rummikub” and enjoyed taking care of her grandkids.
Rosemarie was a communicant of St. Joseph's Church, New Paltz, a member of the NYS United Teachers, NYS Retired Teachers, getting together with the gals" sewing club and was a Mary Kay Lady.
Surviving are a daughter and son-in-law, Ariane L. Simard-Moore and David Moore of Gardiner, NY, two granddaughters, Jeannine Simard-Moore of Delmar, NY; Gabrielle Simard-Moore of Portland, OR; grandson, Zayne Simard-Moore of Gardiner, NY; sister-in-law, Geneva Genovese of Stuyvesant, NY; sister-in-law, Corola Genovese of Brewster, NY.
In addition to her husband, she was predeceased by daughter Jeannine Simard in 1977; her twin sister, Marianna Fowler, two brothers, Vincent Genovese and Horace "Ranny" Genovese in 2011, and a brother-in-law, Robert Fowler.
A Mass of Christian Burial will be celebrated on Monday, September 19, 2016, at 10:00 am at St. Joseph's Church, 34 South Chestnut Street, New Paltz. Interment will follow at St. Charles Cemetery, Gardiner. Relatives and friends may call Sunday, September 18, 2016, from 1 pm to 4 pm at Copeland Funeral Home, Inc., 162 South Putt Corners Road, New Paltz, NY. The family requests memorial donations may be made to Acoustic Neuroma Association - 600 Peachtree Pkwy Suite #108, Cumming, GA 30041 or online at www.anausa.org/component/rsform/form/12-ana-donation.
Arrangements are under the direction of Copeland Funeral Home, Inc., 162 South Putt Corners Road, New Paltz, NY 12561. Condolences may be made to the family at www.copelandfhnp.com </p>
<p>Written by Ariane Simard-Moore</p>
        </div>
    </div>
{% endblock %}
