{% extends 'mewall/head.html' %}

      <div>
          <h1><a href="/">In Loving Memory of Rosemarie Simard</a></h1>
          <div> 04 February 1993 - 15 September 2016 </div>
      </div>
      {% block content %}
      {% for post in posts %}
          <div id="post" class="post">
              <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
              <div> {{ post.name }} </div>
              <div> published: {{ post.published_date }}</div>
              <div> {{ post.text|linebreaksbr }}</div>
          </div>
      {% endfor %}
      {% endblock %}
    </body>
</html>
